@model YouPersonalTrainer.Models.ArticlesViewModel

@using YouPersonalTrainer.Models

<div>
    <ul class="ArticlesMenu">
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "Diet" })">Питание</a></li>
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "Training" })">Тренировки</a></li>
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "Motivation" })">Мотивация</a></li>
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "Health" })">Здоровье</a></li>       
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "News" })">Новости</a></li>
    </ul>
</div>



@foreach (var item in Model.Articles)
{
 <div>
        <ul class="ArticlesTable ">
            <li><a href="#"><img class="image" src="#" alt="ex1" width="200" height="170"/>@Html.DisplayFor(modelItem => item.Title)
            </a></li>                  
        </ul>
 </div>

}
   