@model YouPersonalTrainer.Models.ArticlesViewModel

@using YouPersonalTrainer.Models


<div>
    <ul class="ArticlesMenu">
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "Diet" })">Питание</a></li>
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "Training" })">Тренировки</a></li>
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "Motivation" })">Мотивация</a></li>
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "Health" })">Здоровье</a></li>       
        <li><a href="@Url.Action("ArticlesList", "Article", new { id = "News" })">Новости</a></li>
    </ul>
</div>


<h3><a href="@Url.Action("ArticlesList", "Article", new { id = "Diet" })">Питание</a></h3>

@foreach (var item in Model.Articles)
{   
 <ul class="ListArticlesDiet">
        <li><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></li>
    </ul>
}
    <h3><a href="@Url.Action("ArticlesList", "Article", new { id = "Training" })">Трениовочный процесс</a></h3>
    <ul class="ListArticlesFitness">
        <li></li>        
    </ul>
    <h3><a href="@Url.Action("ArticlesList", "Article", new { id = "Motivation" })">Мотивация</a></h3>
    <ul class="ListArticlesMotivation">
        <li></li>      
    </ul>
    <h3><a href="@Url.Action("ArticlesList", "Article", new { id = "Health" })">Здоровье</a></h3>
    <ul class="ListArticlesHealth">
        <li></li>        
    </ul>
    <h3><a href="@Url.Action("ArticlesList", "Article", new { id = "News" })">Новости</a></h3>
    <ul class="ListArticlesNews">
        <li></li>        
    </ul>
